<section class="min-h-screen w-full">
    <app-navigation></app-navigation>
    <div class="flex justify-between items-center pt-20">
        <div class="w-full flex flex-col justify-center p-5 gap-10 z-50">
            <h1 class="text-5xl text-white font-bold">VELIA Finoana Patrick</h1>
            <h3 class="text-3xl text-sky-300 font-bold">Full Stack Developer</h3>
            <p class="text-white">I am a passionate full stack delveloper with a knack for crafting robust and scalable web application.
                With 5 years of hands-on experience. I have honded my skills in front-end technologies like Angular and
                mobile cross-platform app with React Native, as well as back-end technologies like Spring boot, MySQL,
                PostgreSQL. My goal os to leverage my expertise to create innovative solutions that drive buisiness growth
                and deliver exeptional user experience.
            </p>
            <button class="bg-sky-500 text-white p-2 rounded-full w-[25%] cursor-pointer">Download CV</button>
        </div>

        <div class="w-full flex justify-center items-center z-50">
            <div class="w-[250px] h-[250px] bg-purple-500 rounded-full">
                <img src="image.jpg" alt="image" class="w-full h-full object-cover object-center rounded-full">
            </div>
        </div>
    </div>

    
</section>
      
      
      
