<section class="min-h-screen w-full" id="about">
    <app-navigation></app-navigation>
    <div class="flex justify-between items-center pt-20 px-35 max-lg:flex-wrap-reverse max-md:px-10">
        <div class="w-full flex flex-col justify-center p-5 gap-5 z-50">
            <h1 class="text-5xl text-white font-bold ltr">VELIA Finoana Patrick</h1>
            <h3 class="text-4xl text-sky-500 font-bold rtl">Full Stack Developer</h3>
            <p class="text-white text-xl ltr">
                Passionné de technologie et fasciné par les nouvelles innovations, je suis un Développeur Full Stack
                toujours prêt pour de nouveau défi.
            </p>
            <button class="bg-sky-700 text-white p-2 w-[50%] rounded cursor-pointer ttb">
                <i class="fa-solid fa-download mx-1"></i>
                Télécharger le CV
            </button>
        </div>

        <div class="w-full flex justify-center items-center z-50 ltr">
            <div class="w-[250px] h-[250px] bg-sky-500 border-4 border-sky-500 rounded-full animate-[bounce_10s_linear_infinite]">
                <img src="me.png" alt="image" class="w-full h-full object-cover object-center rounded-full">
            </div>
        </div>
    </div>

    
</section>
      
      
      
