<section class="relative bg-black z-50 p-10 min-h-screen" id="projects">
    <!-- <div class="relative flex flex-col justify-center items-center z-50 w-full"> -->
    <div class="flex flex-col justify-center items-center w-full"> 
        <h2 class="text-white text-3xl font-bold opacity-100">Projects</h2>
        
        <!-- <div class="relative z-50">
            @for (item of projects; track $index) {
                <div class="flex w-full bg-sky-950 rounded-xl gap-5 p-5 my-5">
                <div class="flex justify-center items-center w-[300px] bg-slate-500 rounded-xl">
                    <p>{{item.title}}</p>
                </div>
                <div class="flex items-center flex-col gap-5 w-2/3">
                    <h4 class="text-2xl text-white w-full"><strong>Projects :</strong> {{item.title}}</h4>
                    <p class="text-white w-full">
                        <strong>Description : </strong> {{item.description}}
                    </p>
                    
                        <div class="flex justify-between items-center w-full">
                            <ul class="flex gap-5 w-full">
                                @for (tech of item.technologies; track $index) {
                                    <li class="w-11 h-11 cursor-pointer hover:w-12 hover:h-12" [title]="tech.title">
                                        <img [src]="tech.logo" class="w-full h-full object-cover object-center">
                                    </li>
                                }
                            </ul>
                            <a class="text-xl w-1/4 text-white font-bold gap-1">
                                git repos
                                <i class="fa-solid fa-arrow-right m-1"></i>
                            </a>
                        </div>
                    
                </div>
            </div>
            }
            
        </div> -->
        
        
        <!-- <div class="w-full h-full absolute top-0 left-0 pointer-events-none bg-sky-900 rounded-xl opacity-20"></div> -->
        <div class="flex justify-center items-center gap-5 flex-wrap my-5">
                <!-- <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>ORA</p>
                </div>
                <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>RestFood & bakery</p>
                </div>
                <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>Gasy tube</p>
                </div> -->
            @for (project of projects; track $index) {
                <div 
                    class="flex justify-center items-center w-[300px] h-[150px] rounded-xl cursor-pointer" 
                    (click)="selectProject(project)"
                    data-aos="fade-up"
                >
                    <!-- <p>{{project.title}}</p> -->
                    <img [src]="project.background" [alt]="project.background" class="w-full h-full object-center object-cover rounded-xl">
                </div>
            }
        </div>
        @if(projectSelected) {
            <div class="relative flex w-full bg-sky-950 rounded-xl gap-5 p-5 my-5 max-lg:flex-col" data-aos="fade-right">
                <div class="flex justify-center items-center w-[300px] h-[200px] rounded-xl max-lg:w-[100%] max-lg:h-[20%]">
                    <!-- <p>{{projectSelected.title}}</p> -->
                    <img [src]="projectSelected.monitor" [alt]="projectSelected.monitor">
                </div>
                <div class="flex items-center flex-col gap-5 w-2/3 max-lg:w-full">
                    <h4 class="text-2xl text-white w-full"><strong>Projects :</strong> {{projectSelected.title}}</h4>
                    <p class="text-white w-full">
                        <strong>Description : </strong> {{projectSelected.description}}
                    </p>
                    
                        <div class="flex justify-between w-full max-md:flex-col">
                            <ul class="flex gap-5 w-full">
                                @for (tech of projectSelected.technologies; track $index) {
                                    <li class="w-11 h-11 cursor-pointer hover:w-12 hover:h-12" [title]="tech.title">
                                        <img [src]="tech.logo" class="w-full h-full object-cover object-center">
                                    </li>
                                }
                            </ul>
                            <a class="text-xl w-1/4 text-white font-bold gap-1
                            max-md:text-right
                            max-md:w-full">
                                git repos
                                <i class="fa-solid fa-arrow-right m-1"></i>
                            </a>
                        </div>
                </div>
            </div>
        }
    </div>
    <!-- <div class="relative bg-sky-900 p-5 w-full rounded-2xl opacity-90 z-50">
        <div class="text-center">
            <h2 class="text-white text-3xl font-bold">Projects</h2>
            <div class="flex justify-center items-center gap-5 flex-wrap my-5">
                <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>ORA</p>
                </div>
                <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>RestFood & bakery</p>
                </div>
                <div class="flex justify-center items-center w-[300px] h-[150px] bg-slate-500 rounded-xl">
                    <p>Gasy tube</p>
                </div>
            </div>
        </div>
    </div> -->
    
</section>
