<section class="relative z-50 p-10" id="experiences">
    <div class="flex flex-col w-full">
        <!-- <h2 class="text-white text-3xl font-bold text-center">Experiences</h2> -->
         <h2 class="text-white text-3xl font-bold text-center">{{ 'EXPERIENCE' | translate }}</h2>
         @for (item of experiences; track $index) {
            <div class="px-10 flex w-full my-5 py-5 bg-sky-900 max-lg:flex-col max-lg:flex-wrap" data-aos="fade-up">
                <h3 class="text-white w-1/4 mt-2 max-lg:w-full" data-aos="fade-right">{{item.begin}} - {{item.end | translate}}</h3>
                <div class="w-3/4 flex flex-col gap-2 max-lg:w-full" data-aos="fade-right">
                    <h4 class="text-white font-bold text-xl">{{item.title | translate}} - {{item.company}}</h4>
                    <p class="text-white">{{ item.description | translate}}</p>
                    <!-- <p class="text-white">
                        Développement backend Java<i class="fa-solid fa-circle-dot ml-1"></i>
                        Création d'API REST + interface web<i class="fa-solid fa-circle-dot ml-1"></i>
                        Maintenance, performance, correction d'anomalie<i class="fa-solid fa-circle-dot ml-1"></i>
                        Amélioration des performances appliquatives SQL<i class="fa-solid fa-circle-dot ml-1"></i>
                        Participation aux choix techniques et évolution vers les microservices<i class="fa-solid fa-circle-dot ml-1"></i>
                        Collaboration sur les code review, CI/CD et Documentation technique
                    </p> -->
                    <div class="flex flex-wrap w-full gap-2">
                        @for (tech of item.techs; track $index) {
                            <p class="p-1 text-sky-950 bg-sky-800 rounded">{{tech}}</p>
                        }
                        <!-- <p class="p-1 text-sky-950 bg-sky-800 rounded">Spring boot</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Apache Tapestry</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Mysql / Maria DB</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Htmx</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Git</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Bitbicket Pipelines</p>
                        <p class="p-1 text-sky-950 bg-sky-800 rounded">Jenkins</p> -->
                    </div>
                </div>
            </div>
         }
    </div>
</section>
