<section class="min-h-screen relative z-50 px-10 mt-10">
    <h2 class="text-center text-4xl text-white font-bold">Education</h2>
    <div class="grid grid-cols-3 gap-5 mt-5">
        <div class="bg-sky-900 p-5 rounded">
            <div class="w-full gap-5">
                <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                    <i class="fa-solid fa-graduation-cap"></i>
                </h4>
                <h2 class="text-sky-500 font-bold text-3xl">Master II</h2>
                <p class="text-white font-bold text-2xl">Institut Supérieur Polytechnique de Madagascar</p>
                <p class="text-white font-bold text-xl">ISPM</p>
                <p class="text-white"><span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span> - <span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span></p>
            </div>
        </div>
        <div class="bg-sky-900 p-5 rounded">
            <div class="w-full gap-5">
                <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                    <i class="fa-solid fa-graduation-cap"></i>
                </h4>
                <h2 class="text-sky-500 font-bold text-3xl">Licence</h2>
                <p class="text-white font-bold text-2xl">Institut Supérieur Polytechnique de Madagascar</p>
                <p class="text-white font-bold text-xl">ISPM</p>
                <p><span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span> - <span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span></p>
            </div>
        </div>
        <div class="bg-sky-900 p-5 rounded">
            <div class="w-full gap-5">
                <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                    <i class="fa-solid fa-certificate"></i>
                </h4>
                <h2 class="text-sky-500 font-bold text-3xl">Advanced 1 Certificate</h2>
                <p class="text-white font-bold text-2xl">English Teaching Program</p>
                <p class="text-white font-bold text-xl">ETP</p>
                <p><span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span> - <span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span></p>
            </div>
        </div>
        <div class="bg-sky-900 p-5 rounded">
            <div class="w-full gap-5">
                <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                    <i class="fa-solid fa-graduation-cap"></i>
                </h4>
                <h2 class="text-sky-500 font-bold text-3xl">DELF</h2>
                <p class="text-white font-bold text-2xl">Alliance Française de Tananarive</p>
                <p><span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span> - <span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span></p>
            </div>
        </div>
        <div class="bg-sky-900 p-5 rounded">
            <div class="w-full gap-5">
                <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                    <i class="fa-solid fa-graduation-cap"></i>
                </h4>
                <h2 class="text-sky-500 font-bold text-3xl">Baccalauréat</h2>
                <p class="text-white font-bold text-2xl">Collège Saint Michel Amparibe</p>
                <p><span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span> - <span class="text-white bg-sky-950 p-1 rounded">10/10/2020</span></p>
            </div>
        </div>
    </div>
</section>