<section class="min-h-screen relative z-50 px-10 my-10" id="timeline">
    <div class="p-7 relative w-full opacity-100 rounded" data-aos="zoom-in-up">
        <div class="absolute top-0 right-0 w-full h-full opacity-20 rounded border-4 bg-slate-950"></div>
         <h2 class="text-center text-4xl text-white font-bold">{{'PARCOURS' | translate}}</h2>
        <div class="grid grid-cols-3 gap-5 mt-5
        max-lg:grid-cols-2
        max-md:grid-cols-1">
        @for (item of events; track $index) {
            <div class="bg-sky-900 p-5" data-aos="flip-down" >
                <div class="w-full gap-5">
                    <h4 class="text-sky-500 text-2xl font-bold w-11 h-11 flex justify-center items-center border-4 rounded-full">
                        <i [ngClass]="item.icon"></i>
                    </h4>
                    <h2 class="text-sky-500 font-bold text-3xl">{{item.diploma}}</h2>
                    <p class="text-white font-bold text-2xl">{{item.department}}</p>
                    <p class="text-white font-bold text-xl">{{item.abrev}}</p>
                    <p class="text-white bg-sky-950 p-1 rounded w-[50%]">{{item.date}}</p>
                </div>
            </div>
        }
        </div>
    </div>
</section>