<main class="bg-sky-950">
  <div #banner class="relative w-screen h-full" (mousemove)="onMouseEvent($event)" (mouseout)="onMouseOut()">
    <app-hero></app-hero>
    <app-skills></app-skills>
    <div class="relative z-50 w-full h-11 bg-white gradient"></div>
    <app-projects></app-projects>
    <div class="relative z-50 w-full h-11 bg-white gradient-reverse"></div>
    <app-experiences></app-experiences>
    <app-timeline></app-timeline>
    <app-contact></app-contact>
    <a href="#" class="w-20 h-20 fixed right-10 bottom-10 z-50 animate-ttb hover:animate-bounce">
      <img src="rocket.webp" alt="">
    </a>
    <canvas #canvas class="absolute bg-transparent top-0 left-0 w-full h-full pointer-events-none"></canvas>
  </div>
</main>