<nav class="flex justify-between items-center w-full p-5">
    <div class="w-1/5 z-50">
        <h1 class="text-3xl text-white font-bold">Logo</h1>
    </div>
    <ul class="flex justify-center items-center gap-5 w-3/5 z-50">
        <li>
            <a class="text-xl text-white">About me</a>
        </li>
        <li>
            <a class="text-xl text-white">Projects</a>
        </li>
        <li>
            <a class="text-xl text-white">Skills</a>
        </li>
        <li>
            <a class="text-xl text-white">Timeline</a>
        </li>
    </ul>
    <ul class="flex items-center gap-5 w-1/5 z-50">
        <li><a class="text-white text-3xl">
            <i class="fa-brands fa-facebook"></i>
        </a></li>
        <li><a class="text-white text-3xl">
            <i class="fa-brands fa-linkedin"></i>
        </a></li>
        <li><a class="text-white text-3xl">
            <i class="fa-brands fa-github"></i>
        </a></li>
    </ul>
</nav>
