<nav class="flex justify-center items-center w-full p-5 max-sm:justify-between">
    <div class="w-1/5 z-50">
        <h1 class="text-3xl text-sky-500 font-bold rtl">Finoana</h1>
    </div>
    <div class="realtive w-4/5 flex justify-between items-center z-50 max-sm:hidden">
        <ul class="flex justify-center items-center gap-5 w-[75%] z-50">
            <li class="ttb">
                <a class="text-xl text-white
                hover:text-sky-500
                hover:border-b-2 
                hover:border-b-sky-500
                hover:duration-100">About me</a>
            </li>
            <li class="btt">
                <a class="text-xl text-white
                hover:text-sky-500
                hover:border-b-2 
                hover:border-b-sky-500
                hover:duration-100">Projects</a>
            </li>
            <li class="ttb">
                <a class="text-xl text-white
                hover:text-sky-500
                hover:border-b-2 
                hover:border-b-sky-500
                hover:duration-100">Skills</a>
            </li>
            <li class="btt">
                <a class="text-xl text-white
                hover:text-sky-500
                hover:border-b-2 
                hover:border-b-sky-500
                hover:duration-100">Timeline</a>
            </li>
        </ul>
        <ul class="flex items-center gap-5 w-[25%] z-50">
            <li class="ltr"><a class="text-sky-500 text-3xl hover:text-white hover:duration-100">
                <i class="fa-brands fa-facebook"></i>
            </a></li>
            <li class="ltr"><a class="text-sky-500 text-3xl hover:text-white hover:duration-100">
                <i class="fa-brands fa-linkedin"></i>
            </a></li>
            <li class="ltr"><a class="text-sky-500 text-3xl hover:text-white hover:duration-100">
                <i class="fa-brands fa-github"></i>
            </a></li>
        </ul>
    </div>
    <button class="hidden max-sm:block text-3xl text-white">
        <i class="fa-solid fa-bars"></i>
    </button>
</nav>
