/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

canvas {
    z-index : 0;
}

a,button {
    cursor : pointer;
}


@theme {
    --animate-rtl : rtl 1s forwards;
    --animate-ltr : ltr 1s forwards;
    --animate-btt : btt 1s forwards;
    --animate-ttb : ttb 1s forwards;

    @keyframes rtl {
        0% {
            transform : translateX(-10px);
            opacity : 0;
        }
        100% {
            transform : translateX(0);
            opacity : 1;
        }
    }

    @keyframes ltr {
        0% {
            transform : translateX(10px);
            opacity : 0;
        }
        100% {
            transform : translateX(0);
            opacity : 1;
        }
    }

    @keyframes ttb {
        0% {
            transform : translateY(10px);
            opacity : 0;
        }
        100% {
            transform : translateY(0);
            opacity : 1;
        }
    }

    @keyframes btt {
        0% {
            transform : translateY(-10px);
            opacity : 0;
        }
        100% {
            transform : translateY(0);
            opacity : 1;
        }
    }

}